@model IEnumerable<ProjectManager.Models.CategoryModels>

@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Create New", "Create")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryName)
        </td>
        <td>
            <a class="btn btn-warning" href ="@Url.Action("Edit", "Category", new { id=item.ID })">Edit</a> |
            <a class="btn btn-danger" href="@Url.Action("Delete", "Category", new { id = item.ID })">Delete</a>
        </td>
    </tr>
}

</table>
