@model IEnumerable<ProjectManager.Models.EventViewModel>
@{
    ViewBag.Title = "ProjectCalendar";
}

    <center><h1>Project Schedule</h1></center>
    <script>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                events: @Html.Raw(Json.Encode(Model)),
                header: {
                    left: "title",
                    center: "",
                    right: "prev,next"
                },
                displayEventTime: false
                
                // put your options and callbacks here
            })
        });

    </script>
    <div id="calendar" style="background-color: white;"></div>
