@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lively Literature Writing and Editing Services, LLC.<br />
    Michelle Lovrine Honeyager<br />
    Waukesha, WI<br />
    <abbr title="Phone">P:</abbr>
    262-565-8667<br />
    <abbr title="Fax">F:</abbr>
    262-349-4170
</address>

<address>
    <strong>Email:</strong> <a href="mailto:lovrinem@livelylit.com">lovrinem@livelylit.com</a>
</address>